*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    width: 90vw;
}
#pannel-1{
    background-image: url(https://images.unsplash.com/photo-1518138945951-647273bf05aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
#pannel-2{
    background-image: url(https://images.unsplash.com/photo-1603704984992-b3ac6f6c573c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
}
#pannel-3{
    background-image: url(https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
#pannel-4{
    background-image: url(https://images.unsplash.com/photo-1534396579421-7c278108bf83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1933&q=80);
}
#pannel-5{
    background-image: url(https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
#pannel-6{
    background-image: url(https://images.unsplash.com/photo-1502137914655-3ab2fb4dc4cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
}
#pannel-7{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.trip.com%2Fblog%2Fthe-best-things-you-shouldnt-miss-at-disneyland%2F&psig=AOvVaw3RzmGklG4N7LDyq8jQ7_gj&ust=1665498225759000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCOiNlsLu1foCFQAAAAAdAAAAABAK);
}
.box{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 12px;
    position: relative;
    border: 2px solid gray;
}
.box h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.box.active{
    flex: 5;
}
.box.active h3{
    opacity: .8;
    color: rgb(206, 206, 194);
    font-size: 21px;
    margin-left: 12px;
    font-style: italic;
    transition: opacity 0.5s ease-in-out;
}
